body {
    overflow-y: scroll;
    font-size: 15px;
}

.nav_wrapper {
    text-align: center;
    font-size: 25px;
}

.navhead {
    text-align: center;
    color: green;
}

li {
    text-align: center;
    display: inline-block;
}

a {
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    color: green;
}

.contain {
    text-align: center;
    color: green;
    padding-top: 200px;
    padding-left: 100px;
}

.pics img {
    height: 500px;
    width: 500px;
    position: absolute;
    display: flex;
}

.service {
    text-align: center;
    color: green;
    padding-top: 500px;
    padding-left: 40px;
}

.serimage {
    width: 400px;
    height: 300px;
    padding-right: 75px;
    padding-left: 75px;
    padding-top: 100px;
}

.servicetitle {
    font-size: 15px;
    color: green;
    text-align: center;
    padding-left: 100px;
}

.servicepic {
    width: 100%;
    margin: 0 auto;
}

.servicepic span {
    width: 30%;
    margin: 0 1%;
    display: inline-block;
}