body{
	overflow-y: scroll;
	font-size: 20px;

}

.nav_wrapper{
	text-align: center;
}


li {
	text-align: center;
	display: inline-block;
}

a{
text-decoration: none;
padding-right: 30px;
padding-left: 30px;
color: green;
}

.main{
	height: 75%;
	width: 100%;
	position: absolute;
	opacity: 0.2;
	background-image: url("https://images.pexels.com/photos/89485/pexels-photo-89485.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

}

.contain{
	text-align: center;
	color: green;
	padding-top: 200px;
	padding-left: 100px;
}

.service{
	text-align: center;
	color: green;
	padding-top: 400px;
	padding-left: 70px;
}

.servicepic{
	padding-left: 50px;
	padding-right: 50px;
}